
 @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
 *{
     margin: 0;
     padding: 0;
     font-family: 'Jost', sans-serif;
     
 }
 body{
     font-size: 80%;
 }

.logo1{
    height: 5em;
    margin: 1%;
    padding: 0%;
}
.logo2{
    height: 1.875em;
    padding-right: 0.3em;  

}
.navright{
 float: right;
}

header{
    background-color: #cef8f3;
   width: 100%;   
}
.sectionheader{
    display: flex;
    justify-content: space-between;
}
.logo{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.titulo{
    font-size: 1.5em;
    font-family: 'Jost', sans-serif;
    padding: 1%;
    display: none;
    margin-top: 0.8em;
}
.a1{
    color: black;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    width: 150%;
}

.iconos{
    display: flex;
    justify-content: space-evenly;
    width: 10em;
    align-items: center;
    content-visibility: hidden;
}
.iconos1{
    display: flex;
    justify-content: center;
    /*width: 10em;*/
    align-items: center;
    
}
.divisor{
    display: flex;
}
/*con esto escondes el nav*/
.menu{
    
    flex-direction: column; 
    display: none;
   /*width: 100% ;*/
    text-align: center;
    padding: 0.3em;
     /* justify-content: space-between;*/
    /*margin: auto;*/
}
.menu li, a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.menu a:hover{
    color:rgb(87, 187, 182);
}
.nav{
    background-color: #b1dfd9;
}
.carrousel{
    width: 100%;
    justify-content: center;
}
.centro{
    align-content: center;
    width: 10em;
}
.pasos{
    justify-content: center;
    margin: auto;
    flex-direction: column;
    text-align: center;
}
.pasos-general{
    /*display: flex;*/
    justify-content: center;
    margin: 4em;
    align-content: space-between;
}
.titulo-secundario{
    display: flex;
    justify-content: center;
    
    margin-top: 1em;
    
    text-align: center;
    background-color: antiquewhite;
    margin-bottom: 1em;
}
.mapa{
    display: flex;
 justify-content: space-around;
}
.mapa img, iframe{
   width: 100%;
   border-radius: 4%;
   margin-bottom: 1em;
}
.mapa article{
    display: flex;
    flex-direction: column;
   width: 20%;

}

.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.redsocial{
    text-align: center;
}
footer{
    background-color:   #b1dfd9;
    padding: 2em;
}
.listafooter{
    text-decoration: none;
    list-style: none;
    color: black;
}

.establecimientos{
    margin-top: -4em;
    margin-bottom: 4em;
    padding-left: 0.5em;
    background-color: rgb(87, 187, 182);
    font-size: 80%
}


.bci{
    background-color: #cef8f3;
    border:solid #b0f0e8 ;
    margin-bottom: 0.5em;
   
}
.articlebci{
    display: flex;
    padding: 1em;
    flex-direction: column;
    text-align: center;
}
.articlebci1{
    padding-top: 1em;
}
.selec1{
    margin: 0.1em;
    width: 75%;
}
.selec2{
    margin: 0.1em;
}
.titulo-secundario1{
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    
}
/*con esto escondes el nav*/
.linea{
    width: 1.7em;
    height: 0.25em;
    background-color: black;
    margin-bottom: 0.3em;
}
/*con esto escondes el nav*/
.menuLinea{
    position: absolute;
    right: 2em;
    top: 2em;
}
/*con esto escondes el nav*/
.navPag{
   
    padding: 0.2em;
}
/*con esto escondes el nav*/
.activarMenu{
    display:block;
}

@media screen and (min-width:48em){
    body{
        font-size: 100%;
    }

     nav{
         content-visibility: visible;
     }
    .iconos{
        content-visibility: visible;  
    }
    .titulo{
        /*width: 31.25em;*/

    }
    .establecimientos{
        font-size:100%;
    }
    .pasos-general{
        display: flex; 
    }
    /*con esto escondes el nav*/
    .menuLinea{
        display: none;
    }
    .menu{
        display: flex;
        justify-content: center;
        flex-direction: inherit;
    }
    .navPag{
        padding-right: 1em;
    }
   
}

@media screen and (min-width:60em){
    body{
        font-size: 100%;
    }
    nav{
        content-visibility: visible;
    }
    .iconos{
        content-visibility: visible;      
    }
    .titulo{
       width: 31.25em;
       display: block;
    }
    .establecimientos{
        font-size:100%;
    }
    .pasos-general{
        display: flex; 
    }
    /*con esto escondes el nav*/
    .menuLinea{
        display: none;
    }
    .navPag{
        padding-right: 1em;
    }
    .footer{
        justify-content: space-between;
        flex-direction: inherit;
        text-align: inherit;
    }
    .articlebci{
        justify-content: space-evenly;
        flex-direction: inherit;
        text-align: inherit;
        padding-bottom: 2em;
    }
}